@page
@using Web_1001_DB_Todo_Models
@model IndexModel
@{
    ViewData["Title"] = "To-Do Application";
}
<div class="container">
    <br />
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <!--Inline form to add new Todo-->
            <form class="form-inline" method="post">
                <div class="form-group mx-sm-3 mb-2">
                    <label asp-for="todo.Name" class="sr-only">Add new</label>
                    <input type="text" asp-for="todo.Name" class="form-control" id="newValue" placeholder="Add New">

                </div>
                <button type="submit" class="btn btn-primary mb-2">Add</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <!--Table to display list of Todo items-->
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">To Do</th>
                        <th scope="col">Status</th>
                        <th scope="col">Completed Date</th>
                        <th scope="col">#</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Todo item in Model.Todos)
                    {
                        <!--Checking activity status and once the status is completed, disabling complete button -->
                        if (@item.Status.Equals("Complete"))
                        {
                            <tr>
                                <td>
                                    <div class="col-lg-1">
                                        <!--Form to update todo status and completion date-->
                                        <form asp-page-handler="edit" method="post">
                                            <button class="btn btn-success" disabled>Complete</button>
                                            <input type="hidden" name="Id" value="@item.Id" />
                                        </form>
                                    </div>
                                </td>
                                <td>@item.Name</td>
                                <td>@item.Status</td>
                                <td>@item.CompletionDate</td>
                                <td>
                                    <div class="col-lg-1">
                                        <!--Form to delete a todo record-->
                                        <form asp-page-handler="delete" method="post">
                                            <button class="btn btn-danger">Delete</button>
                                            <input type="hidden" name="Id" value="@item.Id" />
                                        </form>
                                    </div>
                                </td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <td>
                                    <div class="col-lg-1">
                                        <!--Form to update todo status and completion date-->
                                        <form asp-page-handler="edit" method="post">
                                            <button class="btn btn-success">Complete</button>
                                            <input type="hidden" name="Id" value="@item.Id" />
                                        </form>
                                    </div>
                                </td>
                                <td>@item.Name</td>
                                <td>@item.Status</td>
                                <td>@item.CompletionDate</td>
                                <td>
                                    <div class="col-lg-1">
                                        <!--Form to delete a todo record-->
                                        <form asp-page-handler="delete" method="post">
                                            <button class="btn btn-danger">Delete</button>
                                            <input type="hidden" name="Id" value="@item.Id" />
                                        </form>
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>

